body{
    background-color: rgba(0, 255, 255, 0.315);
    font-family: "Work Sans", sans-serif;
} 
    
h1{
      font-family: "Protest Riot", sans-serif;
      color: dodgerblue;
}
li{
    display: inline;
    float:left
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(101, 166, 241, 0.92);
}

  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
img{
    border-radius: 10px;
}